<h3>Add Word to Dictionary</h3>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Enter Word</label>
    <input type="text" name="word" id="word" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Add Word</button>
  </div>
</form>
