<h3><%= @word.word() %></h3>

<h5>Definition:</h5>
<ul>
<% @word.definitions().each() do |definition| %>
<li><a href="/definition/<%= definition.id() %>"><%= definition.definition() %></a></li>
<br>
<% end %>
</ul>



<a href="/words/<%= @word.id() %>/definitions/new">Add Definition</a>
<br>
<a href="/">Home</a>
